 .jumbotron {
    height: 300;
    clear: both; 
    padding-Top: 120;
     text-Align: center;
     background-image: url("../../asset/1140-yeager-sell-your-used-books.imgcache.rev6feda141288df73e8fd100822bb375ea.jpg")
}

